<template>
  <div class="home">
    <my-table @order="orderBy">
      <thead>
        <tr>
          <th>Name</th>
          <th order="age">Age</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="{ id, name, age } in usersOrder" :key="id">
          <td>{{ name }}</td>
          <td>{{ age }}</td>
          <td><button @click="removeUser(id)">X</button></td>
        </tr>
      </tbody>
    </my-table>
  </div>
</template>

<script>
// @ is an alias to /src
import MyTable from '@/components/MyTable.vue';

export default {
  name: 'home',
  components: { MyTable },
  data() {
    return {
      order: {
        by: 'age',
        direction: 'asc',
      },
      users: [
        { id: 1, name: 'Clara', age: 25 },
        { id: 2, name: 'Pedro', age: 23 },
        { id: 3, name: 'Alécio', age: 28 },
        { id: 4, name: 'Diane', age: 15 },
      ],
    };
  },
  computed: {
    usersOrder() {
      const direction = this.order.direction === 'asc'
        ? ({ age: a }, { age: b }) => a - b
        : ({ age: a }, { age: b }) => b - a;

      return [...this.users].sort(direction);
    },
  },
  methods: {
    orderBy(event, by, direction) {
      this.order = { by, direction };
    },
    removeUser(_id) {
      const index = this.users.findIndex(({ id }) => id === _id);
      this.users.splice(index, 1);
    },
  },
};
</script>
