<script>
const btnOrder = (column, direction, onOrder) => [
  'button',
  {
    on: {
      click: event => onOrder(event, column, direction),
    },
  },
  direction,
];

export default {
  functional: true,
  render(h, { children, listeners }) {
    const [thead, tbody] = children;
    const order = listeners.order || (() => {});

    const settings = { class: 'my-table' };

    const [trH] = thead.children;

    trH.children = trH.children.map((th) => {
      const column = th.data && th.data.attrs && th.data.attrs.order;

      if (!column) return th;

      const newTh = [
        ...th.children,
        h(...btnOrder(column, 'asc', order)),
        h(...btnOrder(column, 'desc', order)),
      ];

      return { ...th, children: newTh };
    });

    return h('table', settings, [thead, tbody]);
  },
};
</script>
<style>
.my-table td {
  border: 1px solid red
}
</style>
